[Unit]
Description=TCP Reverse Proxy
After=network.target

[Service]
EnvironmentFile=/etc/reverseproxy/%i.conf
ExecStart=/usr/local/bin/reverseproxy --server ${REVERSE_PROXY_SERVER} --forward ${REVERSE_PROXY_FORWARD} --use-tor
Type=simple
KillMode=process
Restart=always
RestartSec=60
Environment="RUST_BACKTRACE=1"

# Hardening measures
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
