[Unit]
Description=TCP Reverse Proxy
After=network.target

[Service]
EnvironmentFile=/etc/reverseproxy/%i.conf
ExecStart=/usr/local/bin/reverseproxy ${REVERSE_PROXY_SERVER} ${REVERSE_PROXY_FORWARD} --socks5-proxy 127.0.0.1:9050
Type=simple
KillMode=process
Restart=always
RestartSec=60
Environment="RUST_BACKTRACE=1"

# Hardening measures
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
